@import "./variables";

#topbar {
    ul {
        
        li {
            a {
                padding: 10px;
                font-size: 1.0em;
                display: block;
                color: #f2f2f2;

                svg {
                    margin-right: 5px;
                    min-width: 30px;
                }
            }

            a:hover {
                background-color: #ddd;
                color: black;
            }

            a.active {
                background-color: #4CAF50;
                color: white;
            }
        }
    }
}

  
  