#!frontend-app/src/EVErythingReact/.s21/bin/assemble
ConsoleApp1
ConsoleApp2
EVErything.ESI.Client
packages
WebApplication1
WebApplication2
.dockerignore
.env
.git
.gitignore
.vs
.vscode
docker-compose.yml
docker-compose.*.yml
#**/bin
**/obj
node_modules
.vscode
dist
backend-app
create-uiapp-tar.bat
everything-uiapp.tar
